@model ToDoList.Models.TaskMV
@{
    DateTime dataTime = DateTime.Now;

    string GetCategory(int idCategory)
    {
        foreach (var item in Model.categoryModels)
        {
            if(idCategory == item.idCategory)
            {
                return item.nameCategory; 
            }
        }
        return "";
    }
}

<form  method="post" asp-action="Create" class="border border-2 p-3">
    <div class="form-group">
        <div class="validation" asp-validation-summary="ModelOnly" style="color: red"></div>
        <input type="text" name="text" class="form-control form-control-sm mb-4" value = "@Model.task.text" />
    </div>
        <label>Category: </label>
        <select name = "idCategory" class="form-select form-select-sm" aria-label=".form-select-sm example">
            @foreach (var item in Model.categoryModels)
                {
                    <option value="@item.idCategory">@item.nameCategory</option>
                }
        </select>
        <label class="ml-3">Deadline: </label>
        <input type="datetime-local" name = "deadLine" id = "date">
        <label class="ml-3">Priority: </label>
        <select name = "mark" class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option selected value="4">4</option>
        </select>
        <input type = "submit" value="Create" class="btn btn-primary"/>
</form>
<h3 class="text-center">Current Tasks</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Text</th>
      <th scope="col">Deadline</th>
      <th scope="col">Category</th>
      <th scope="col">Priority</th>
      <th scope="col">Action</th>
      <th scope="col">Do</th>
    </tr>
  </thead>
  <tbody>
@foreach (var item in Model.activeTaskList)
{
    @*<div class="card">
      <div class="card-body">
        <p class="card-text">@item.text</p>
        <p class="card-text">Deadline: @item.deadLine</p>
        <label name = "check">Completed</label>
        <input type="checkbox" name = "check" id="myCheck" class="@item.idTask" onclick="myFunction()">
        <a href="/Task/Delete?id=@{@item.idTask}" class="btn btn-primary">Delete</a>
      </div>
    </div>*@
    <tr>
      <td>@item.text</td>
      <td>@item.deadLine</td>
      <td>@GetCategory(@item.idCategory)</td>
      <td>@item.mark</td>
      <td><a href="/Task/Edit?id=@{@item.idTask}">Edit</a> | <a href="/Task/Delete?id=@{@item.idTask}">Delete</a></td>
      <td><input type="checkbox" name = "check" id="CheckNotDone" class="@item.idTask" onclick="FunctionDone()"></td>
    </tr>
}
  </tbody>
</table>

<h3 class="text-center">Completed Tasks</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Text</th>
      <th scope="col">Deadline</th>
      <th scope="col">Category</th>
      <th scope="col">Priority</th>
      <th scope="col">Action</th>
      <th scope="col">Do</th>
    </tr>
  </thead>
  <tbody>
@foreach (var item in Model.completedTaskList)
{
    <tr>
      <td>@item.text</td>
      <td>@item.deadLine</td>
      <td>@GetCategory(@item.idCategory)</td>
      <td>@item.mark</td>
      <td><a href="/Task/Delete?id=@{@item.idTask}">Delete</a></td>
      <td><input type="checkbox" name = "check" id="CheckDone"  class="@item.idTask" checked onclick="FunctionNotDone()"></td>
    </tr>
}

  </tbody>
</table>
























@*@model ToDoList.Models.TaskModel
@{
    ViewData["Title"] = "Список пользователей";
}
<form asp-action = "Index" asp-controller = "Task">
    <div class="form-group">
        <label asp-for="text"></label>
        <input type="text" asp-for="text"class="form-control form-control-sm"/>
    </div>

</form>*@